<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="dashboard.style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<nav id="nav" class="dark-nav-bg">
		<ul>
			<li><a href="#">Log out</a></li>
			<li><a href="#member-section">Members</a></li>
			<li><a class="active" href="#dashboard">Home</a></li>
		</ul>
	</nav>
	<div class="main">
		<div class="dashboard-container">
			<div class="section dashboard" id="dashboard">
				<h1 id="greetings">Heeey! <span id="name-display">Adnan</span></h1>
				<h1 id="message">Welcome to Pro Dev Team</h1>
			</div>
		</div>

		<div class="section member-section" id="member-section">
			<h1 class="title">Member list</h1>
			<div class="member-list">
				<div class="member">
					<table>
					  <tr>
					    <th style="width: 38%;">Name</th>
					    <th>Username</th> 
					    <th style="width: 38%;">Email</th>
					  </tr>
					  <tr>
					    <td>Jill</td>
					    <td>Smith</td>
					    <td>50</td>
					  </tr>
					  <tr>
					    <td>Eve</td>
					    <td>Jackson</td>
					    <td>94</td>
					  </tr>
					  <tr>
					    <td>John</td>
					    <td>Doe</td>
					    <td>80</td>
					  </tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="dashboard.script.js"></script>
</body>
</html>