<!DOCTYPE html>
<html>
<head>
	<title>DOM Manipulation</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="root">
		<h1 style="text-align: center;">JS Event Handeler</h1>
		<input
			type="text" 
			name="input-field" 
			id="input-field"
			placeholder="Please enter any text">

		<button
			type="button" 
			id="button">Clear</button>
		
		<div id="box">
			<h1 id="display-text" class="empty-text">Please enter any text</h1>
		</div>
		<script type="text/javascript" src="script.js" ></script>
	</div>
</body>
</html>